{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Management{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
</head>
<body>
    <header class="header">
        {% block header %}
            <h1>Event Management</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>
                        {% if user.is_authenticated %}
                            <p>Olá, {{ user.username }}!</p>
                            <a href="{% url 'logout' %}">Sair</a>
                        {% else %}
                            <a href="{% url 'login' %}">Entrar</a>
                        {% endif %}
                    </li>
                    <li><a href="{% url 'register' %}">Registro</a></li>
                    <li><a href="{% url 'event_list' %}">Eventos</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'event_subscribed' %}">Meus Eventos</a>
                        </li>
                    {% else %}
                    {% endif %}
                </ul>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
        <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </main>

    <footer class="footer">
        {% block footer %}
            <p>&copy; 2024 Event Management. Todos os direitos reservados.</p>
        {% endblock %}
    </footer>
</body>
</html>