{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Management{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <header class="header">
        {% block header %}
            <h1>Gerenciamento de Eventos</h1>
            <nav>
                <ul>
                    <li><a id="event_button" href="{% url 'event_list' %}">Eventos</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'event_subscribed' %}">Meus Eventos</a>
                        </li>
                    {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'certificate_list' %}">Meus Certificado</a>
                        </li>
                        
                    <div class="user-actions">
                {% if user.is_authenticated %}
                    <p>Olá, {{ user.username }}!</p>
                    <a href="{% url 'logout' %}">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}">Entrar</a>
                    <a href="{% url 'register' %}">Registro</a>
                {% endif %}
                    </div>
                </ul>
            </nav>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
        <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </main>

    <footer class="footer">
        {% block footer %}
            <p>&copy; 2024 Event Management. Todos os direitos reservados.</p>
        {% endblock %}
    </footer>
</body>
</html>