{% extends 'base.html' %}

{% load static %}
{% block title %}Registro de Usuário{% endblock %}

{% block content %}
<div class="register-container">
<form method="POST" action="{% url 'register' %}">

    <h2>Registro</h2>
    {% csrf_token %}

    <p>
        {{ form.username.label_tag }}
        {{ form.username }}
        {% for error in form.username.errors %}
            <span class="field-error">{{ error }}</span>
        {% endfor %}
    </p>
    
    <p>
        {{ form.email.label_tag }}
        {{ form.email }}
        {% for error in form.email.errors %}
            <span class="field-error">{{ error }}</span>
        {% endfor %}
    </p>
    
    <p>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% for error in form.password1.errors %}
            <span class="field-error">{{ error }}</span>
        {% endfor %}
    </p>
    
    <p>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% for error in form.password2.errors %}
            <span class="field-error">{{ error }}</span>
        {% endfor %}
    </p>

    <button type="submit">Registrar</button>
</form>
</div>
{% endblock %}